//$main-font-family: 'MS Trebuchet', sans-serif;
$main-font-family: 'Lucida Console', Monaco, monospace;
$main-font-size: 14px;
$main-line-height: 1.25;
$main-text-color: #333;

//$main-shadow-color: #212121;
